/* common */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #FFFAF5;
    --bg-color-secondary: #FFF6ED;
    --text-color-desc: #656689;
    --text-color-heading: #000958;
    --color--btn-primary: #FF5B2E;
}

body {
    height: 10000px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-desc);
    background: var(--bg-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: var(--text-color-heading);
}


.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 117px;
    border-radius: 99px;
    border: 1px solid rgba(5, 11, 90, 0.7);
    color: var(--text-color-heading);

}

.btn:hover {
    border: 1px solid rgba(5, 11, 90, 1);
}

.btn-primary {
    color: var(--color--btn-primary);
    border: 1px solid var(--color--btn-primary);
    background: transparent;
}

.btn-primary:hover {
    color: white;
    background: var(--color--btn-primary);
    border: 1px solid var(--color--btn-primary);
}


.img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.img-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.heading-h1 {
    color: var(--text-color-heading);
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15;
    /* 115.152% */
}

.section__heading-h2 {
    color: var(--text-color-heading);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    /* 119.231% */
}

.section__desc {
    margin-top: 24px;
    color: var(--text-color-desc);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    /* 187.5% */
}

.section__sub-title {
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}



/* =========================================== Header =========================================== */
.header {
    padding: 26px 0 16px;

    position: sticky;
    top: -10px;
    z-index: 99;
    background: var(--bg-color-primary);
    /* background: orange; */
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__item {
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #5E6085;
}

.action__link {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 20px;
}

.navbar__item:hover,
.action__link:hover {
    color: var(--text-color-heading);
    text-shadow: 1px 0 0 currentColor;
}



/* =========================================== Hero media =========================================== */
.hero {
    height: calc(100vh - 92px);
    /* background: orange; */
}

.hero-wrap {
    padding: 150px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero media */
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 95px;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    width: 47%;
    /* height: 50px; */
}

.hero-img__large {
    position: relative;
    top: 0;
    left: 0;
    border: 3px solid #fff;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
}

.hero-img__small {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #FAA7AD;
    border: 2px solid #fff;

}

.hero__list {
    position: absolute;
    right: 171px;
    bottom: 0;

    width: 250px;
    /* height: 156px; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    overflow: hidden;
    z-index: 1;
}

.hero__item {
    display: flex;
    align-items: flex-start;
    padding: 18px 14px;
}

.hero__item:hover {
    background: var(--bg-color-secondary);
}

.hero__thumb {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
}

.hero__item-title {
    color: #181E52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.hero__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--text-color-heading);
}

.hero__skeleton+.hero__skeleton {
    width: 39px;
}

.hero__separator {
    width: 222px;
    height: 2px;
    background: #F2F2F2;
    margin: 0 auto;
}

.hero-img__decor:nth-of-type(1) {
    position: absolute;
    bottom: 105px;
    left: -58px;
    z-index: -1;
}

.hero-img__decor:nth-of-type(2) {
    position: absolute;
    top: 15px;
    right: 120px;
    z-index: -1;
}

/* hero content */
.hero__heading-h1 {
    width: 517px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__action-wrap {
    margin-top: 38px;
}

.hero__btn {
    margin-right: 10px;
    height: 60px;
    min-width: 189px;
    border-radius: 31px;
    font-weight: 600;
}

.hero__btn:hover .btn__action-icon {
    color: var(--color--btn-primary);
    background-color: var(--bg-color-primary);
}

.btn__action-icon {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--color--btn-primary);
    color: #fff;
}

.cta__schedule {
    padding: 8px 14px;
    color: var(--text-color-heading);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

.cta__schedule:hover {
    text-shadow: 1px 0 0 currentColor;
}


/* =========================================== Hero media =========================================== */
.about {
    margin-top: 100px;
    padding: 50px 0px;
    /* background: orange; */
}

.about__media {
    position: relative;
}


.about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 110px;
}

.about__content {
    padding: 70px 0;

}

.about__title {
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.about__heading-h2 {
    margin-top: 15px;
}

.about__heading-h2,
.about__desc {
    width: 444px;
}

.about__list {
    margin-top: 54px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    gap: 36px;
}

.about__item {
    display: flex;
    align-items: center;
}

.about__item-check {
    content: "";
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FF5D31;
    border-radius: 4px;
}


.media-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
    height: 559px;
    border-radius: 16px;

}

.media__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62%;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: inherit;
}

.img__media-top-wrap {
    width: 450px;
    height: 100%;
    margin: 0 auto;
}

.img__media-top-inner {
    position: relative;
    top: 20px;
}

.about__card {
    padding: 30px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    /* 142.857% */
}

.about__card {
    position: absolute;
    left: 0;
    top: 28%;
}

.about__card-decor {
    position: absolute;
    top: -25px;
    right: -2px;
}

.media__decor {
    position: absolute;
    right: -48px;
    top: 28%;
}

/* media bottom */
.media__wrap-bottom {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.img__media-bottom {
    object-fit: contain;
    scale: 1.3;
    position: relative;
    top: 28px;
    right: 36px;
}

.media__bottom-decor {
    position: absolute;
}

.media__bottom-decor:nth-of-type(1) {
    bottom: -48px;
    right: 88px;
}

.media__bottom-decor:nth-of-type(2) {
    top: 16px;
    right: 196px;
}

.media__bottom-decor:nth-of-type(3) {
    top: -10px;
    right: 146px;
}

.media__bottom-decor:nth-of-type(4) {
    top: 35px;
    right: 107px;
}

.media__bottom-decor:nth-of-type(5) {
    top: 270px;
    right: 100px;
}

.media__bottom-decor:nth-of-type(6) {
    top: 335px;
    right: 160px;
}

/* about content bot */


.about__content-bottom {
    padding-top: 35px;
}

.tab__content-item {
    display: none;
}

.tab__content-item.tab__content-active {
    display: block;
}

.about-bottom__desc {
    width: 511px;
}

.tab__list {
    position: relative;
    margin-top: 52px;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 99px;
    opacity: 0.07;
    background: var(--color--btn-primary)
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;

}

.tab__item:hover {
    opacity: 0.8;
}

.tab__item.tab__item-active.tab__item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 95px;
    height: 2px;
    background: var(--color--btn-primary);
}

.tab__title {
    color: #48496A;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.tab__desc {
    margin-top: 36px;
    width: 390px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    /* 171.429% */
}

.tab__link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0;
    color: var(--color--btn-primary);
    font-weight: 600;
}

.tab__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1.5px;
    background: var(--color--btn-primary);
}

.tab__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

/* =========================================== Service =========================================== */
.service {
    margin-top: 130px;
    padding: 70px 0 100px 0;
    background: #FFF6ED;
}


.service__heading-h2 {
    text-align: center;
    margin-top: 15px;
}

.service__content {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.service__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service__item:hover {
    box-shadow: 5px 5px 10px rgba(255, 188, 122, 0.26);
}

.service__item+.service__item {
    margin-top: 24px;
}

.service__item-heading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--text-color-heading);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.service__item-heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}


.service__item-desc {
    margin-top: 18px;
    color: var(--text-color-desc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    /* 171.429% */
}

.service__item-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.service__item-link:hover {
    color: var(--text-color-heading);
    text-shadow: 1px 0 0 currentColor;
}

/* service__media */
.service__media-wrap {
    position: relative;
    /* display: block; */
    width: 440px;
    height: 650px;
    margin: 0 auto;
}

.service__media-img {
    object-fit: contain;
}

.service__media-bg {
    position: absolute;
    bottom: 28px;
    left: 50%;
    translate: -50%;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__btn-cta {
    height: 56px;
    min-width: 214px;
    display: flex;
    margin: 45px auto 0px auto;
}


/* =========================================== Team =========================================== */

.team {
    padding: 130px 0;
}



.team__heading-h2 {
    text-align: center;
    margin-top: 15px;
}

.team__list {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}

.member {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__avatar {
    margin: 0 auto;
    position: relative;
    width: 234px;
    height: 299px;
    border-radius: 129.5px;
    /* background: orange; */
}

.member__avatar-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 266px;
    border-radius: inherit;
    background: #90CCFF;

}

.memver__avatar-decor {
    position: absolute;
    left: -2px;
}

.member:nth-child(2n+1) .memver__avatar-decor {
    bottom: 80px;
}

.member:nth-child(2n+2) .memver__avatar-decor {
    top: 35px;
}

.member__title {
    margin-top: 35px;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.member__name {
    margin-top: 14px;
    color: var(--text-color-heading);
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.team__btn-cta {
    min-width: 193px;
    height: 56px;
}

.team__action {
    margin-top: 48px;
    text-align: center;
}

/* =========================================== Pricing =========================================== */
.pricing {
    padding: 86px 0;
    background: var(--bg-color-secondary);
}

.pricing__heading-h2,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin: 0 auto;
    margin-top: 24px;
}

.pricing__switch-wrap {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 38px;
    width: 276px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid var(--color--btn-primary);

}

.pricing_switch-value {
    z-index: 1;
    padding: 0 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    user-select: none;

}

.pricing__check:checked+.pricing__switch-label::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 131px;
    height: 100%;
    flex-shrink: 0;
    border-radius: inherit;
    background: var(--color--btn-primary);
}

.pricing__check:not(:checked)+.pricing__switch-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 140px;
    height: 100%;
    flex-shrink: 0;
    border-radius: inherit;
    background: var(--color--btn-primary);
}

.pricing__check:not(:checked)+.pricing__switch-label .pricing_switch-value:nth-of-type(2),
.pricing__check:checked+.pricing__switch-label .pricing_switch-value:nth-of-type(1) {
    color: var(--color--btn-primary);
}

.pricing__save {
    position: absolute;
    left: 64%;
    bottom: 54%;
}

/* pricing__list */
.pricing__list {
    width: 85%;
    margin: 56px auto 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
}

.pricing__item {
    flex: 1;
    padding: 30px 30px 43px 30px;
    /* background: orange; */
    border-radius: 20px;
    background: #FFF;
}

.pricing__item-level {
    color: var(--color--btn-primary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
}

.pricing__item-care {
    margin-top: 8px;
    color: #3F4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.pricing__item-price {
    margin-top: 24px;
    color: var(--text-color-heading);
    font-family: Sora;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.03;
    /* 103.03% */
}

.pricing__btn-cta {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    color: var(--color--btn-primary);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    cursor: pointer;
}

.benefit__list {
    margin-top: 24px;
}

.benefit__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.benefit__item+.benefit__item {
    margin-top: 18px;
}

.benefit__item::before {
    content: url(/assets/img/pricing/check.svg);

}